@page
@model NetLearnerWeb.Pages.ResourceCatalogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResourceCatalog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceCatalog.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResourceCatalog.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ResourceCatalog.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
